body{
    background: url("images/background.jpg") no-repeat;
    background-size: 100%;
    background-attachment:fixed;
}

.container{
    display: flex;
}

h1{
    font-size: 40px;
    text-align: center;
}

#welcome{
    top: 250px;
    display: block;
    width: 100%;
    position: relative;
}

.flag{
    position:absolute;
    height: 80px;
    width: 200px;
    top: 200px;
    left: 200px;
}

.ret{
    position: absolute;
    top: 20px;
    right: 20px;
}

.sidebar {
    width: 250px;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
}

.content {
    margin-left: 270px;
    padding: 20px;
}